main {
  position: relative;
  background-color: #000;
  height: 700px;
  width: 1200px;
  border: 1px solid #fff;
  margin: 0 auto;
}

#net {
  position: absolute;
  left: 600px;
  width: 1px;
  height: 100%;
  border: 1px dashed #fff;
  margin-top: -15px
}
